:root {
	/* Text color */
	--pure-black: #000000;
	--prime-color: #212121;
	--active-color: #2196f3;
	--prime-white: #ffffff;
	--grey-text: #757575;
	/* Background color */
	--prime-bg-color: #2f303a;
	--second-bg-color: #f5f4fa;
	--social-bg-color: rgba(255, 255, 255, 0.1);
	/* Border color */
	--border-color: #eeeeee;
	--second-border-color: #afb1b8;
	--form-border-color: rgba(33, 33, 33, 0.2);
	/* Cubic time 250ms*/
	--time-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	/* Gradient */
	--hero-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: var(--prime-color);
	letter-spacing: 0.03em;
}

/* Utils */

.no-scroll {
	overflow: hidden;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

.link {
	text-decoration: none;
}
/* Wrappers */

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.no-top-padding {
	padding-top: 0;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.container--flex {
	display: flex;
	align-items: center;
}

.container--flex-baseline {
	display: flex;
	align-items: baseline;
}

/* Hidden */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Header */

.header {
	border-bottom: 1px solid #ececec;
}
/* Logo */

.logo {
	display: inline-block;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--active-color);
}

.logo--mode-light {
	color: var(--pure-black);
}

.logo--mode-dark {
	color: var(--prime-white);
}
/* Navigation */

.nav-menu,
.address-menu {
	display: flex;
	align-items: center;
	list-style: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.navigation--margin-left {
	margin-left: 93px;
}

.address-menu {
	margin-left: auto;
}

/* Methods for selecting elements for cleaning extreme geometry */
/*  */

.nav-menu__item:not(:last-child) {
	margin-right: 50px;
}

/* .nav-menu__item + .nav-menu__item {
		margin-left: 50px;
	} */

/* .nav-menu__item:last-child {
		margin-right: 0;
	} */

.nav-menu__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--prime-color);
	transition: color var(--time-cubic);
}

.nav-menu__link--active {
	position: relative;
	color: var(--active-color);
}

.nav-menu__link--active::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	content: "";
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--active-color);
}

.nav-menu__link:hover,
.nav-menu__link:focus {
	color: var(--active-color);
}

.address-menu__item:last-child {
	margin-left: 50px;
}

.icon-letter {
	width: 16px;
	height: 12px;
	fill: currentColor;
	margin-right: 10px;
}

.icon-phone {
	width: 10px;
	height: 16px;
	fill: currentColor;
	margin-right: 10px;
}

.address-menu__link {
	display: inline-flex;
	align-items: center;
	color: var(--grey-text);
	transition: color var(--time-cubic);
}

.address-menu__link:hover,
.address-menu__link:focus {
	color: var(--active-color);
}

/* .address-menu__item:first-child::before {
	content: "";
	width: 16px;
	height: 12px;
	margin-right: 10px;
	background-image: url(../icons/header/email.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.address-menu__item:last-child::before {
	content: "";
	width: 10px;
	height: 16px;
	margin-right: 10px;
	background-image: url(../icons/header/smartphone.svg);
	background-repeat: no-repeat;
	background-size: contain;
} */

/* Solutions section */

.solutions {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}

.overlay {
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	height: 600px;
	background-color: var(--prime-color);
	background-image: var(--hero-gradient), url(../images/background/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.solutions__title {
	max-width: 696px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--prime-white);
}

.solutions__btn {
	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;
	text-align: center;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--prime-white);
	background-color: var(--active-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color var(--time-cubic);
}

.solutions__btn:hover,
.solutions__btn:focus {
	background-color: #188ce8;
}

/* Peculiarities section */

.peculiarities__items {
	display: flex;
	gap: 30px;
	align-items: center;
	list-style: none;
}

.peculiarities__item {
	flex-basis: calc((100% - 90px) / 4);
}

.peculiarities__thumb {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	width: 270px;
	height: 120px;
	background-color: var(--second-bg-color);
	border-radius: 4px;
}

.peculiarities__title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--prime-color);
	letter-spacing: 0.03em;
}

.peculiarities__descr {
	font-size: 14px;
	line-height: 1.71;
	color: var(--grey-text);
	letter-spacing: 0.03em;
}

/* Doing section */

.doing__title,
.team__title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.doing__items,
.team__members {
	display: flex;
	gap: 30px;
	list-style: none;
}

.doing__thumb {
	position: relative;
}

.doing__subtitle {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-top: 27px;
	padding-bottom: 27px;
	width: 100%;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--prime-white);
	background-color: rgba(47, 48, 58, 0.8);
}

/* Our Team section */

.team {
	background-color: var(--second-bg-color);
}

.team__members {
	text-align: center;
}

.team__member {
	background-color: var(--prime-white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.member__content {
	padding: 30px;
}

.member__title {
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.member__position {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.19;
	color: var(--grey-text);
}

/* Our Clients */

.clients-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--prime-color);
}

.clients-items {
	display: flex;
	gap: 30px;
	align-items: center;
	list-style: none;
}

.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--second-border-color);
	border-radius: 4px;
	color: var(--second-border-color);
	transition: color var(--time-cubic), border-color var(--time-cubic);
}

.icon-client {
	fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
	border-color: var(--active-color);
	color: var(--active-color);
}

/* Portfolio page and section */

/* Filter buttons */

.work-btn-list {
	display: flex;
	gap: 8px;
	margin-bottom: 50px;
	justify-content: center;
	align-items: center;
	list-style: none;
}

/* .work-btn-item:not(:last-child) {
	margin-right: 8px;
} */

.work-btn {
	display: block;
	padding: 6px 22px;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: var(--prime-color);
	background-color: var(--second-bg-color);
	border-radius: 4px;
	border: none;
	cursor: pointer;
	transition: color var(--cubic), background-color var(--time-cubic), box-shadow var(--time-cubic);
}

.active-btn {
	color: var(--prime-white);
	background-color: var(--active-color);
}

.work-btn:hover,
.work-btn:focus {
	color: var(--prime-white);
	background-color: var(--active-color);

	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.1);
}

/* Cards */

.work-cards {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	list-style: none;
}

.work-card {
	flex-basis: calc((100% - 60px) / 3);
}

.work-link {
	display: block;
	transition: box-shadow var(--time-cubic);
}

.work-link:hover,
.work-link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Work overlay */

.work-thumb {
	position: relative;
	overflow: hidden;
}

.work-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	background-color: rgba(33, 150, 243, 0.9);
	transform: translateY(0);

	transition: transform var(--time-cubic);
}

.work-link:hover .work-overlay,
.work-link:focus .work-overlay {
	transform: translateY(-100%);
}
.overlay-desc {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	color: var(--prime-white);
}
/* Change to gap */
/* .work-card:not(:nth-child(3n)) {
	margin-right: 30px;
} */
/* 
.work-card:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
} */

.text-wrp {
	padding: 20px 24px;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.work-img {
	display: block;
}

.work-card .work-card-title {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--prime-color);
}

.work-card .work-card-descr {
	font-size: 16px;
	line-height: 1.88;
	color: var(--grey-text);
}

/* Modal */

.backdrop {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity var(--time-cubic), visibility var(--time-cubic);
	z-index: 3;
	visibility: visible;
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.1);
	opacity: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	min-width: 528px;
	min-height: 581px;
	padding: 40px;
	transition: transform var(--time-cubic), opacity var(--time-cubic);
	background-color: var(--prime-white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	opacity: 1;
	z-index: 4;
}

.modal .close-btn {
	position: absolute;
	top: 8px;
	right: 8px;
	display: flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	color: #000000;
	background-color: var(--prime-white);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	transition: color var(--time-cubic), outline-color var(--time-cubic);
	cursor: pointer;
	outline-color: transparent;
}

.close-btn:hover,
.close-btn:focus {
	color: var(--active-color);
	outline-color: var(--active-color);
}

.close-icon {
	width: 18px;
	height: 18px;
	fill: currentColor;
}

/* Form */

.form-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

.contact-head {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--prime-color);
}

.form-field {
	position: relative;
	display: flex;
	flex-direction: column;
	color: var(--prime-color);
}

.form-label {
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--grey-text);
}

.form-input {
	padding: 11px 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
	transition: border-color var(--time-cubic);
	color: var(--active-color);
}

.form-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	fill: var(--prime-color);
	transition: fill var(--time-cubic);
}

.form-input:focus-within,
.form-input:hover {
	border-color: var(--active-color);
}

.form-input:focus-within + .form-icon,
.form-input:hover + .form-icon {
	fill: var(--active-color);
}

.comment-text {
	width: 448px;
	height: 120px;
	padding: 12px 16px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	color: rgba(117, 117, 117, 0.5);
	outline: none;
	transition: border-color var(--time-cubic);
}

.comment-text:focus-within {
	border-color: var(--active-color);
}

.form-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	color: var(--grey-text);
}
.checkbox-label {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-left: 8px;
}

/* Modern hidden checkbox */
/* .checkbox {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
} */

.checkbox-icon {
	margin-right: 8px;
	display: inline-block;
	width: 16px;
	height: 15px;
	border-radius: 2px;
	border: 2px solid var(--prime-color);
	transition: background-color var(--time-cubic), border-color var(--time-cubic);
}

.checkbox-icon:hover {
	border-color: var(--active-color);
	cursor: pointer;
}

.checkbox:focus + .checkbox-icon {
	border-color: var(--active-color);
}
.checkbox:checked + .checkbox-icon {
	background-color: var(--active-color);
	border: none;
	background: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
	background-size: contain;
	background-origin: border-box;
	background-position: center;
}

.policy-link {
	font-style: normal;
	color: var(--active-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-left: 6px;
	outline-color: transparent;
	transition: outline-color var(--time-cubic);
}

.policy-link:focus {
	outline-color: var(--active-color);
}

.btn-wrp {
	display: flex;
	justify-content: center;
}
.form-btn {
	min-width: 200px;
	padding: 10px 55px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--prime-white);
	border: none;
	background-color: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition: background-color var(--time-cubic), box-shadow var(--time-cubic);
	cursor: pointer;
	outline: none;
}

.form-btn:hover,
.form-btn:focus {
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

/* Footer */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--prime-bg-color);
}

.footer__wrp {
	width: 231px;
	margin-right: 70px;
}

.footer__logo {
	margin-bottom: 20px;
}

.footer__street-address {
	display: inline-block;
	margin-bottom: 9px;
	font-style: normal;
	letter-spacing: 0.03em;
	line-height: 1.71;
	color: var(--prime-white);
	transition: color var(--time-cubic);
}

.footer-menu {
	list-style: none;
}

.footer-menu__item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-menu__link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	transition: color var(--time-cubic);
}

.footer-menu__link:hover,
.footer-menu__link:focus,
.footer__street-address:hover,
.footer__street-address:focus {
	color: var(--active-color);
}

.social--margin-right {
	margin-right: 93px;
}

.social__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--prime-white);
}

.social__items {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 10px;
}

.social__link--mode-dark {
	color: var(--prime-white);
}

.social__link--mode-light {
	color: var(--second-border-color);
}
.social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: var(--social-bg-color);
	border-radius: 50%;
	transition: color var(--time-cubic), background-color var(--time-cubic);
}

.social__icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
}

.social__link:hover,
.social__link:focus {
	background-color: var(--active-color);
	color: var(--prime-white);
}

.footer-form__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--prime-white);
}

.footer-form__wrp {
	display: flex;
	align-items: center;
	gap: 12px;
}

.footer-form__email {
	padding: 16px;
	min-width: 358px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px 28px;
}

/* .footer-form__wrp {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
} */

.footer-form__btn-icon {
	fill: var(--prime-white);
}
